<h2>Posten003:</h2>

<form>
    Leistungsbeschreibung:<br>
  <input type="text" name="itemName" [(ngModel)]="currentItem.itemName">
    <br>Postenart:<br>
    <input type="checkbox" name="hourPayment" [checked]="currentItem.hourPayment" (change)="togglePayment()"> Leistungspostenposten&nbsp;&nbsp;&nbsp;

    <br> Stück- / Stundenpreis:<br>
    <input type="text" name="partialCost" [(ngModel)]="currentItem.partialCost">
    <br> Anzahl:<br>
    <input type="text" name="count" [(ngModel)]="currentItem.count">
    <br> Leistungsdatum:<br>
    <input type="text" name="itemDate" [(ngModel)]="currentItem.itemDate">
    <br><br>
    <input type="submit" value="speichern">
</form>

<pre>{{currentItem | json}}</pre>




