<h2>Posten003:</h2>

<div class="test">invoiceID: {{invoiceId}}   itemID: {{itemId}}; </div>
<!-- shows invoiceId for testCases -->

<form>
    Leistungsbeschreibung:<br>
  <input type="text" name="itemName" [(ngModel)]="itemName">
    <br>Postenart:<br>
    <input type="checkbox" name="hourPayment" [checked]="hourPayment"
           (change)="togglePayment()"> Leistungspostenposten
    <br> Stück- / Stundenpreis:<br>
    <input type="number" name="partialCost" [(ngModel)]="partialCost">
    <br> Anzahl:<br>
    <input type="number" name="count" [(ngModel)]="count">
    <br> Leistungsdatum:<br>
    <input type="text" name="itemDate" [(ngModel)]="itemDate">
    <br><br>
  <p>total Cost: {{wholeCost}}</p>
  <button (click)="saveItem()">{{creatingItem ? 'Create' : 'Save'}}</button>
    <!-- input type="submit" value="speichern" -->
  <button (click)="cancelItem()">cancel</button>
    <a routerLink="{{backUrl}}">back</a>






</form>
