<div>

  <h1> Rechnungsübersicht </h1>
  <p>2018-09-12</p>

  <div class="flex-container">
    <div class="important">Filterkriterien</div>
    <div>Rechnungsdatum von<br><input type="datetime-local"></div>
    <div>Rechnungsdatum bis<br><input type="datetime-local"></div>
    <div>Status<br>
      <select>
        <option value="template">Entwurf</option>
        <option value="unpayed">offen</option>
        <option value="partial payed">teilw. zahlt</option>
        <option value="payed">bezahlt</option>
      </select>
    </div>
    <div>Emfpänger<br>
      <select>
        <option value="007">Mustermann GmbH</option>
        <option value="008">Restaurant Goldbroiler</option>
        <option value="009">Carwash GmbH</option>
      </select>
    </div>

  </div>
  <br>
  <div>




    <table style="width:100%">
      <thead>
      <tr>
        <th>Rechnungsdatum</th>
        <th>RechnungsNr</th>
        <th>Empfänger</th>
        <th>Status (Entwurf, bezahlt, ...)</th>
        <th>Gesamtpreis</th>
        <th>Anzahl der Mahnungen</th>
        <th>Rechnungzeitraum</th>
        <th>Ändern</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>{{invoice.invoiceDate}}</td>
        <td>{{invoice.invoiceNumber}}</td>
        <td>{{invoice.recipient}}</td>
        <td>{{invoice.invoiceState}}</td>
        <td>{{invoice.wholeCost}}{{invoice.currency}}</td>
        <td>{{invoice.countReminders}}</td>
        <td>{{invoice.timeSpan}}</td>
        <td>
          <button type="button">Rechnung bearbeiten</button>
        </td>
      </tr>
      <!-- ///////////////////////////// -->
      </tbody>
    </table>
  </div>

  <button type="button">Neuer Rechnungsentwurf</button>
  <button>Speichern</button>
  <button>Zurück</button>


</div>
