
table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
    background-color: darkblue;
    font-weight: bold;
    color: white;
}

td {
    text-align: center;
    color: black;
}

grid-container {
    display: grid;
    grid: 150px / auto auto auto;
}

/*main sections*/

header, main, footer {
    position: relative;
}

main {
    position: absolute;
    left: 10px;
    top: 450px;
    width: 13000px;
    /*width: 100%;*/
    height: 1500px;
}

footer {
    position: absolute;
    left: 10px;
    top: 3000px;
    width: 290px;
    height: 250px;
}

div {
    color: black;
}

/* remainder CSS styles */
h1 {
    font-size: 1.2em;
    color: #000000;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
}

input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
}

button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}

/* classes */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #e4e0ff;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 10%;
    margin: 10px;
    text-align: center;

}