<div>

    <header>

        <div class="test">invoiceID: {{invoiceId}}</div>
        <!-- shows invoiceId for testCases -->

        <div class="logo">
            <div class="logoimportant">SednaSoft</div>
            <p>Software Engineering Agency</p>
        </div><!-- class="logo" -->

        <div class="adress-window">
            <div class="postage-info">
                SednaSoft GbR, Biesnitzer Straße 8, 02826 Görlitz
            </div><!-- class="postage-info" -->
            <!-- input type="text" [(ngModel)]="customerFirm"><br>
            <input type="text" [(ngModel)]="customerContactPerson"><br>
            <input type="text" [(ngModel)]="customerStreet"> <br>
            <input type="text" [(ngModel)]="customerPostCode"> <input type="text" [(ngModel)]="customerCity"> <br>
            <input type="text" [(ngModel)]="customerCountry"> <br -->
          <textarea name="message" rows="7" cols="100" [(ngModel)]="customerAdress">
            The cat was playing in the garden.
          </textarea><br>
          <!-- button type="button">Kundendaten ändern</button -->
        </div><!-- class="adress-window" -->

        <div class="contact-block">
            <strong>SednaSoft GbR</strong>
            <p>A. Schaffhirt & A. Wünsche</p>
            <p>Biesnitzer Straße 8</p>
            <p>02826 Görlitz</p>
            <p>GERMANY</p>
            <dl>
                <dt>Fon</dt>
                <dd>+49-3581-3221063</dd>
                <dt>Fax</dt>
                <dd>+49-3581-6858089</dd>
                <dt>Mail</dt>
                <dd>kontakt@sedna-soft.de</dd>
                <dt>Web</dt>
                <dd>http://sedna-soft.de</dd>
            </dl>
        </div><!-- class="contact-block" -->

        <div class="city-date">Görlitz,
            <input type="date" name="inDate" [ngModel]="invoiceDate | date:'yyyy-MM-dd'"
                   (ngModelChange)="invoiceDateChange($event)">
        </div>
    </header>


    <main>
        <section>
                <h1 class="invoice-number">Rechnungsnummer 201800xx</h1>
                <input class="invoice-number" [(ngModel)]="invoiceNumber">
                <p>Zeitraum: 2018-01-01 bis 2018-12-31 (12 Monate)</p>
                <input class="timeSpan" [(ngModel)]="invoiceTimeSpan">
                <div class="flex-input">
                    <select name="invoiceState" [(ngModel)]="invoice.invoiceState">
                        <option value="template">Entwurf</option>
                        <option value="unpayed">offen</option>
                        <option value="partial payed">teilw. zahlt</option>
                        <option value="payed">bezahlt</option>
                    </select>
                </div>
            <p>///////////////////////////////////////////////////////////////////////////</p>
            <div class="flex-input">
                <select name="invoiceCurrency" [(ngModel)]="invoiceCurrency">
                    <option value="EUR">€</option>
                    <option value="USD">$</option>
                    <option value="CZK">Kč</option>
                    <option value="PLN">Zł</option>
                    <option value="CHF">CHF</option>
                </select>
            </div>
            <p>///////////////////////////////////////////////////////////////////////////</p>
            <!-- span *ngFor="let invoice of invoices" *ngIf="invoice.id === invoiceId" -->
            <table>
                <!-- loop for all invoice - filter needed!!! -->
                <thead>
                    <tr>
                      <th>Leistungsbeschreibung</th>
                      <th>Leistungsdatum</th>
                      <th>Anzahl</th>
                      <th>Stückpreis</th>
                      <th>Gesamtpreis</th>
                      <th>Ändern</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of invoice.items">
                      <!-- loop for all items -->
                    <td>{{item.itemName}}</td>
                    <td>{{item.itemDate}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.partialCost | number:'1.2-2'}}{{item.currency}}</td>
                    <td>{{item.wholeCost | number:'1.2-2'}}{{item.currency}}</td>
                    <td>
                      <!--button type="button">Rechnung bearbeiten</button-->
                        <a routerLink="/item-detail/{{invoiceId}}/{{item.getId()}}">Posten bearbeiten</a>
                    </td>
                  </tr>

                    <tr>
                        <td class="tablefooter" colspan="3"></td>
                        <td class="tablefooter">Summe Netto</td>
                        <td class="tablefooter">{{nettoSum | number:'1.2-2'}}{{currency}}</td>
                        <td class="tablefooter" colspan="2"></td>
                    </tr>
                    <tr>
                        <td class="tablefooter" colspan="3"></td>
                        <td class="tablefooter">{{percentageString}} MwSt.</td>
                        <td class="tablefooter"> {{salesTax | number:'1.2-2'}}{{currency}} </td>
                        <!-- td class="tablefooter"></td -->
                        <td class="tablefooter">
                            <button type="button">Mehrwertsteuer ändern</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="tablefooter" colspan="3"></td>
                        <td class="tablefooter">Rechnungsbetrag</td>
                        <td class="tablefooter"> {{bruttoSum | number:'1.2-2'}}{{currency}} </td>
                        <td class="tablefooter" colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            <!-- button type="button">Posten hinzufuegen</button -->
          <a routerLink="/item-create/{{invoiceId}}">Posten hinzufügen</a>
            <button>Speichern</button>
            <button>Zurück</button>
            <a routerLink="/invoice-list/">cancel  '/invoice-detail/' </a>
            <p></p>
            <dl>
                <dt>USt-IdNr.:</dt>
                <dd>DE243517710</dd>
                <dt>USt-IdNr. des Kunden:</dt>
                <dd>ATU xxxxx</dd>
            </dl>
            <p>Steuerschuldnerschaft des Leistungsempfängers (Reverse Charge)</p>
            <p></p>
            <p>Bittte überweisen Sie den Rechnungsbetrag bis zum
                <input type="date" name="inDueDate" [ngModel]="invoiceDueDate | date:'yyyy-MM-dd'"
                       (ngModelChange)="invoiceDueDate = $event">
                auf das unten angegebene Konto.</p>
               <p> Als Verwendungszweck geben Sie bitte die Rechnungsnummer 201800xx an.</p>
        </section>
    </main>
    <footer>
        <div class="address">
            <div class="important">Adresse</div>
            <p>SednaSoft GbR</p>
            <p>A.Schaffhirt & A.Wünsche</p>
            <p>Biesnitzed Straße 8</p>
            <p>02826 Görlitz</p>
        </div>
        <div class="contact">
            <div class="important">Kontakt</div>
            <dl>
                <dt>Fon</dt>
                <dd>+49-3581-3221063</dd>
                <dt>Fax</dt>
                <dd>+49-3581-6858089</dd>
                <dt>Mail</dt>
                <dd>kontakt@sedna-soft.de</dd>
                <dt>Web</dt>
                <dd>http://sedna-soft.de</dd>
            </dl>
        </div>
        <div class="bankconnection">
            <div class="important">Bankverbindung</div>
            Commerzbank Dresden
            <dl>
                <dt>BIC</dt>
                <dd>DRESDEFF850</dd>
                <dt>IBAN</dt>
                <dd>DE56 8508 0000 0265 0770 01</dd>
            </dl>
        </div>
        <div class="tax-number">
            <div class="important">USt-IdNr</div>
            DE243517710
        </div>
    </footer>
</div>
