/*main sections*/

header, main, footer {
  position: relative;
}

header {
  height: 570px;
}

.logo {
  color: darkblue;
  position: absolute;
  left: 840px;
  top: 10px;
  width: 290px;
  height: 120px;
}

.logoimportant {
  font-size: 50px;
}

.adress-window {
  position: absolute;
  left: 10px;
  top: 190px;
}

.contact-block {
  position: absolute;
  left: 840px;
  top: 190px;
  width: 290px;
}

.city-date {
  position: absolute;
  left: 840px;
  top: 520px;
  width: 290px;
}

.address {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 290px;
}

.contact {
  position: absolute;
  left: 310px;
  top: 10px;
  width: 290px;
}

.bankconnection {
  position: absolute;
  left: 610px;
  top: 10px;
  width: 290px;
}

.tax-number {
  position: absolute;
  left: 910px;
  top: 10px;
  width: 290px;
}
